<%- include('header'); -%>
  <div class="content">
  <h1 id="welcome">Contact Me</h1>
  <p>Name: Nikhil Naik</p>
  <p>Address: Heriott-Watt University</p>
  <p>Phone: +971569787549</p>
  <p>Email: n2000@hw.ac.uk</p>
  <p>_</p>
  </div>
<%- include('footer'); -%>